@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    justify-content: space-evenly;
    
  }
}